%h2 Projects - #{@project.name}

%div
  = render :partial => 'shared/chart', locals: {chart: @velocity_range_chart, chart_id: "velocity-range-chart"}
  %div#iteration-range

= form_for :project, url: project_path(@project.id), method: :get do |form|
  %fieldset
    %legend Select dates
    = text_field_tag :start_date, params[:start_date], :placeholder => "Start YYYY/MM/DD"
    = text_field_tag :end_date, params[:end_date], :placeholder => "End YYYY/MM/DD"
  %fieldset
    %legend Select story types
    - Story::ALL_STORY_TYPES.each do |story_type|
      %label #{story_type.pluralize.titleize} #{check_box_tag story_type, '1', params[story_type], class: 'story_type_filter_cbx'}

  %fieldset.buttons
    = form.submit "Refresh Charts", :class => "btn"

- iterations = [""]
- iterations += @active_iterations.map{|it| it.start.strftime('%Y/%m/%d')} unless @active_iterations.nil?

:javascript
  $(function() {
    TrackerStats.set_property("iterations", #{iterations.to_json})
    TrackerStats.add_datepicker('#start_date');
    TrackerStats.add_datepicker('#end_date');
    TrackerStats.setup_iterations_slider('#iteration-range', '#start_date', '#end_date');
    $('div.tooltip_hotspot').tooltip({relative: true}).dynamic();
  });

- @charts.each_with_index do |chart, idx|
  = render :partial => 'shared/chart', locals: {chart: chart, chart_id: "chart_#{idx}"}