= form_for :project, :method => :get do |form|
  = label_tag :start_date, "Start Date"
  = text_field_tag :start_date, params[:start_date], :placeholder => "YYYY/MM/DD"
  = label_tag :end_date, "End Date"
  = text_field_tag :end_date, params[:end_date], :placeholder => "YYYY/MM/DD"
  = form.submit "Refresh Charts"

#chart_0
= render_chart @chart_0, "chart_0"
#chart_1
= render_chart @chart_1, "chart_1"
#chart_2
= render_chart @chart_2, "chart_2"
#chart_3
= render_chart @chart_3, "chart_3"
#chart_4
= render_chart @chart_4, "chart_4"
#chart_5
= render_chart @chart_5, "chart_5"
#chart_6
= render_chart @chart_6, "chart_6"