%h2 Projects - #{@project.name}

%div
  %div#velocity-range-chart
  = render_chart @velocity_range_chart, "velocity-range-chart"
  %div#iteration-range

= form_for :project, url: project_path(@project.id), method: :get do |form|
  %fieldset
    %label Select dates
    = text_field_tag :start_date, params[:start_date], :placeholder => "Start YYYY/MM/DD"
    = text_field_tag :end_date, params[:end_date], :placeholder => "End YYYY/MM/DD"
  %fieldset.buttons
    = form.submit "Refresh Charts", :class => "btn"

- iterations = [""]
- iterations += @iterations.map{|it| it.start.strftime('%Y/%m/%d')} unless @iterations.nil?

:javascript
  $(function() {
    TrackerStats.set_property("iterations", #{iterations.to_json})
    TrackerStats.add_datepicker('#start_date');
    TrackerStats.add_datepicker('#end_date');
    TrackerStats.setup_iterations_slider('#iteration-range', '#start_date', '#end_date')
  });

#story_type_chart
= render_chart @story_type_chart, "story_type_chart"
= render :partial => "shared/chart", :collection => @charts
