!!!
%html
  %head
    %title Tracker Stats
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{src: 'http://www.google.com/jsapi'}
    = csrf_meta_tags
  %body
    %header
      .container
        %h1= link_to "Tracker Stats", projects_path
        - if authorized?
          = link_to "Logout", logout_path, method: :delete, class: "logout"
    #content
      .container
        - if flash[:notice]
          %div.notice= flash[:notice]
        - if flash[:alert]
          %div.alert= flash[:alert]
        = yield
