!!!
%html
  %head
    %title Tracker Stats
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{src: 'http://www.google.com/jsapi'}
    = csrf_meta_tags
  %body
    = render 'header'
    #content
      .container
        = flash[:alert]
        = yield
